{% extends "base.html" %}
{% block title %}Meme Generator{% endblock %}
{% block body %}
<div class="card" style="width: 500px; max-width: 100%;">
    <div class="card-body">
        <form action="{{url_for('meme_post')}}" method="POST">
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input type="url" class="form-control" id="image_url" aria-describedby="image url" placeholder="Enter a url for an image" name="image_url">
            </div>
            <div class="form-group">
                <label for="body">Quote Body</label>
                <input type="text" class="form-control" id="body" aria-describedby="Quote Body" placeholder="To be or not to be" name="body">
            </div>
            <div class="form-group">
                <label for="author">Quote Author</label>
                <input type="text" class="form-control" id="author" aria-describedby="Quote Author" placeholder="Shakespeare" name="author">
            </div>
            <button type="submit" class="btn btn-primary">Create Meme!</button>
        </form>
    </div>
</div>
{% endblock %}
